@using Microsoft.AspNetCore.Mvc.ViewFeatures
@inject IFileVersionProvider FileVersionProvider
@inject ThemeService ThemeService
@implements IDisposable

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="notranslate">
    <base href="/" />
    <link href=@AppendVersion("_content/DevExpress.Blazor.Themes/blazing-berry.bs5.min.css") rel="stylesheet" />
    <script type="text/javascript" src="js/mdi.js"></script>

    @DxResourceManager.RegisterScripts()
    <link href=@AppendVersion("css/site.css") rel="stylesheet" />
    <link href=@AppendVersion("BlazorApp.styles.css") rel="stylesheet" />

    @* --- 수정된 부분: DevExpress 테마 CSS를 동적으로 로드합니다. --- *@
    <link href="_content/DevExpress.Blazor.Themes/@(ThemeService.CurrentTheme).bs5.css" rel="stylesheet" />

    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer"></Routes>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code{
    private string AppendVersion(string path) => FileVersionProvider.AddFileVersionToPath("/", path);

    protected override void OnInitialized()
    {
        // ThemeService의 상태 변경을 감지하여 UI를 다시 렌더링합니다.
        ThemeService.OnThemeChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ThemeService.OnThemeChanged -= StateHasChanged;
    }
}